$dimensiones-ordenador:-5%;
$dimensiones-1585:-6%;
$dimensiones-1520:-6%;
$dimensiones-1290:-7%;
$dimensiones-1135:-8%;
$dimensiones-1075:-8%;
$dimensiones-960:-9%;
$dimensiones-820:-10%;
$dimensiones-768:-12%;
$dimensiones-640:-13%;
$dimensiones-560:-19%;
$dimensiones-480:-17%;
