.title h3{
   color:black;
   font-weight: bold 300;
}
.title p{
    font-size: 1rem;
    color: black;
    font-weight: bold 100;
}
.container-title{
    height: 20px;
    margin-bottom: 40%;
}

@media screen and (max-width: 1290px) {
    .container-title{ 
    margin-bottom: 38%;
  }
}
@media screen and (max-width:  1135px) {
    .container-title { 
    margin-bottom: 37%;
}
}
@media screen and (max-width: 1075px) {
    .container-title { 
    margin-bottom: 35%;
  }
}
@media screen and (max-width: 680px) {
    .container-title {
    margin-bottom: 30%;
  }
}
@media screen and (max-width: 560px) {
    .container-title {
    margin-bottom: 20%;
  }
}
